body{
    height:900px;
}

header{
    background-image: linear-gradient(black, blue);
    display: flex;
}
h1{
    color: white;
    height: 50%;
    text-align: center;
    font-size: 100px;
    background-image: linear-gradient(black,grey);
    width: 100%;
    
}

ul{
    display: flex;
    background-image:linear-gradient(grey, blue) ;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

li{
    width: 18%;
    background-image: linear-gradient(blue, grey);
    color: white;
}

img{
    display: flex;
    height: 100px;
   position: fixed;
}